div#divLogoTitle{
  text-align: center;
}

button#post_btn{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 850;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

body{
  margin: 0px;
  background-image: url(/client/views/img/logo_transparent.png);
  background-repeat: no-repeat;
  background-position-y: 150px;
  background-position-x: center;
  background-size: contain;
  background-color: gainsboro;
}

button.menu:hover{
  background-color: #080808;
  cursor: pointer;
}

li.nav-item{
  font-size: 15px;
}
