body{
  margin: 0px;
}

div#first{
  text-align: center;
  margin: 24px;
  margin-bottom: 240px;
  height: 240px;
}

.account{
  background-color: transparent;
  border: none;
  color: sienna;
  /* font-size: 24px; */
  font-weight: bolder;
}

.account:hover{
  cursor: pointer;
}

button.menu:hover{
  background-color: #080808;
}

table, th, td{
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

table{
  width: fit-content;
  height: fit-content;
}

div#name{
  font-size: 15px;
}

a#aSignIn, a#aSignUp{
  text-decoration: none;
  color: black;
}

div#bestContentsTitle{
  text-align: center;
  font-size: 24px;
  font-style: oblique;
  font-variant: small-caps;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: brown;
}

table#bestContents{
  width: fit-content;
  height: fit-content;
  border-width: 1px;
  border-style: groove;
  border-color: black;
}

button#btnSubmit{
  width: 85px;
}

a#connectionName{
  font-size: 24px;
}

li.nav-item{
  font-size: 15px;
}
