body{
  margin: 0px;
}

.account{
  background-color: transparent;
  border: none;
  color: sienna;
  font-size: 15px;
  font-weight: bolder;
}

.account:hover{
  cursor: pointer;
}

div#divLogoTitle{
  text-align: center;
}

button.menu:hover{
  background-color: #080808;
}

table, th, td{
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

table{
  width: fit-content;
  height: fit-content;
}

div#account{
  height: auto;
  position: absolute;
  top: 10px;
  right: 15px;
}

a#aSignIn, a#aSignUp{
  text-decoration: none;
  color: black;
}

div#bestContentsTitle{
  text-align: center;
  font-size: 24px;
  font-style: oblique;
  font-variant: small-caps;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: brown;
}

table#bestContents{
  width: fit-content;
  height: fit-content;
  border-width: 1px;
  border-style: groove;
  border-color: black;
}

button#btnSubmit{
  width: 85px;
}

a#connectionName{
  font-size: 24px;
}

li.nav-item{
  font-size: 15px;
}
