#input_accounts {
	text-align: center;
	position: relative;
	top: 385px;
}

footer {
	text-align: center;
	position: relative;
	top: 450px;
	color: greenyellow;
}

button#btnLogin{
	font-size:large;
	font-weight:bold;
	width:150px;
	/* top:10px; */
}

form#formAccounts{
	background-color: transparent;
	margin: auto;
	margin-top: 150px;
	padding: 15px;
	width: fit-content;
}

div.input-group{
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

input#id, input#pw{
	text-align: center;
	height: auto;
}

input#id{
	margin-top: 24px;
}

#lbSaveAccount{
	margin-top: 10px;
}

a.aFinds{
	text-decoration: none;
	color: black;
}
