<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./css/community.css">
    <script src="./js/community.js"></script>
    <title>커뮤니티</title>
  </head>

  <body>
    <header>
      <div id="top_header">
        <div id="navigator">
          <button id="#" class="menu">기능구현</button>
          <button class="menu" id="community" onclick="getBoard()">게 시 판</button>
          <button id="chat" class="menu" onclick="getChatApp()">랜덤채팅</button>
        </div>
      </div>
    </header>
    <main>
      <div id="contents">
        <form method="post">
          <input type="text" id="title" name="title" placeholder="게시물 제목">
          <br><br>
          <textarea type="text" id="content" name="content" placeholder="게시물 내용"></textarea>
          <br>
          <button id="post_btn" type="submit">게시</button>
        </form>
      </div>
    </main>
    <footer>

    </footer>

  </body>

</html>
