<!DOCTYPE html>
<html>

  <head>
    <script src="./js/detailPost.js"></script>
    <link rel="stylesheet" href="./css/detailPost.css">
  </head>

  <body>
    <div id="postTable">
      <table id="postTitle">
        <tr>
          <th>제 목</th>
        </tr>
        <tr>
          <td><%=post[0].title%></td>
        </tr>
      </table>
      <table id="postContent">
        <tr>
          <th>내 용</th>
        </tr>
        <tr>
          <td><%=post[0].content%></td>
        </tr>
      </table>
    </div>
  </body>

</html>
