<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="./js/index.js"></script>
    <title>Welcome to INDEX</title>
  </head>

  <body>
    <header>
      <div id="top_header">
        <div><img src="./img/logo_transparent.png" alt="이미지가 없습니다." id="logo"></div>
        <div id="navigator">
          <button class="menu" id="community" onclick="getCommunity()">커뮤니티</button>
          <button class="menu">기능구현</button>
        </div>
        <div id="account">
          <form method="post">
            <button class="account" id="sign_in">SIGN OUT</button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <!--       <textarea id="chatLog" class="chat_log" readonly></textarea>
      <form id="chat">
        <input type="text" id="name" class="name" readonly>
        <input type="text" id="message" class="message">
        <input type="submit" class="chat" value="전송">
      </form> -->
    </main>
  </body>

</html>
