<!DOCTYPE html>
<html>

  <head>
    <script src="./js/search.js"></script>
    <link rel="stylesheet" href="./css/search.css">
  </head>

  <body>
    <div id="title">SIGNATURE COMMUNITY</div>
    <table id="post">
      <tr>
        <th>제 목</th>
        <th>작 성 자</th>
      </tr>
      <%for(var i = 0; i < post.length; i++) {%>
      <%var data = post[i];%>
      <tr>
        <form method="get" action="detailPost">
          <td><input name="dataTitle" type="submit" value=<%=data.title%>></td>
          <td><input name="dataWriter" type="submit" value=<%=data.writer%>></td>
        </form>
      </tr>
      <%}%>
    </table>
  </body>

</html>
