<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="./css/test.css">
  <title>TEST</title>
</head>

<body>
  <header>
    <div id="top_header">
      <div id="navigator">
        <button class="menu" id="upload" onclick="upload_onclick()">커뮤니티</button>
        <button class="menu">기능구현</button>
      </div>
    </div>
  </header>
  <main>
    <div></div>
  </main>
  <footer>

  </footer>
</body>
