<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./css/upload.css">
    <script src="./js/upload.js"></script>
  </head>

  <body>
    <header>

    </header>
    <main>
      <div id="contents">
        <form method="post">
          <input type="text" id="title" name="title" placeholder="게시물 제목">
          <br><br>
          <textarea type="text" id="content" name="content" placeholder="게시물 내용"></textarea>
          <br>
          <button id="post_btn" type="submit">ada</button>
        </form>
      </div>
    </main>
    <footer>

    </footer>

  </body>

</html>
