/* form start */
div#inputForm{
  margin-left: 50%;
  margin-top: 24px;
  transform:translate(-50%);
  padding-top: 15px;
  display: inline-block;
}

form#postForm{
  margin: auto;
}

input#postTitle{
  width: 850px;
}

button#selectBoard{
  margin-bottom: 10px;
  width: 650px;
}

div#writer{
  display: inline-block;
  width: 200px;
  height: 38px;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 4px;
  padding-top: 6px;
}

textarea#summernote{
  /* width: 850px; */
  /* height: 150px; */
  margin-top: 15px;
}
/* form end */
