div#contentsTitle{
  text-align: center;
  font-size: 34px;
  font-weight: 850;
}

div#contents{
  width: 850px;
  margin: auto;
  margin-top: 24px;
}

div#content{
  width: 850px;
  height: 500px;
}

div#recommand{
  text-align: end;
}
