body{
  margin: 0px;
}

div#top_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#header_title{
  color: black;
  font-size: 85px;
  text-decoration: none;
  font-family: 'Akronim', cursive;
  position: relative;
  left: 50px;
}

div#header_title:hover{
  cursor: pointer;
}

#account{
  right: 15px;
  color: wheat;
  position: relative;

}

.account{
  background-color: transparent;
  border-style: groove;
  border-color: black;
  font-size: 40px;
  border-radius: 15px;
  font-family: 'Bebas Neue', cursive;
  color: black;
}

.account:hover{
  cursor: pointer;
}

#login_btn:hover{
  cursor: pointer;
}

#logo{
position: absolute;
animation: rotate_logo 15s infinite;
width: 85px;
height: 85px;
left: 15px;
position: relative;
}

@keyframes rotate_logo{
  15%{
    transform: rotate(150deg);
  } 50%{
    transform: rotate(75deg);
  } 75%{
    transform: rotate(150deg);
  } 100%{
    transform: rotate(0deg);
  }
}

div#navigator{
  border-top: 2px groove black;
  background-color: #222222;
  height: 55px;
  display: flex;
  justify-content: space-around;
}

button.menu{
  background-color: transparent;
  width: fit-content;
  font-size: 24px;
  color: #c1c1c1;
  border-style: none;
}

button.menu:hover{
  background-color: #080808;
}

#upload:hover{
  cursor: pointer;
}

#search{
  position: relative;
  text-align: center;
  top: 24px;
}

#search_bar{
  background-color: transparent;
  width: 850px;
  height:fit-content;
  border-radius: 10px;
  border-color: black;
  font-size: 24px;
  color: black;
}

#search_bar::placeholder{
  text-align: center;
}

#search_bar_btn{
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  border-color: black;
  font-size: 15px;
  margin-top: 10px;
}

#search_bar_btn:hover{
  cursor: pointer;
}

div#content_box{
  border-inline: 2px groove black;
  border-top: 2px groove black;
  width: 850px;
  height: fit-content;
  margin-top: 15px;
  color: aliceblue;
}

div#index{
  width: 850px;
  height: fit-content;
  color: black;
  border-bottom: 2px groove black;
  font-size: 24px;
  font-weight: 850;
}

dl{
  display: flex;
  justify-content: space-around;
  color: black;
}

dt.content, dd.content{
  color: black;
}

div.content_line{
  border-block: 1px groove black;
}

div#contents_layout{
  text-align: -webkit-center;
}

div#TODO{
  position: relative;
  text-align: center;
  top: 50px;
  color: black;
}

textarea{
  width: 850px;
  height: 150px;
<<<<<<< HEAD
=======
}

table, tr, th, td{
  border-width: 1px;
  border-color: #080808;
  border-style: groove;
  text-align: center;
}

table{
  width: 850px;
  height: fit-content;
}

div#table_contents{
  text-align: -webkit-center;
  margin-top: 15px;
>>>>>>> d1ee75a (update)
}
