div#signupText{
	font-weight: 850px;
	font-size: x-large;
}

#id, #pw, #confirm_pw {
	text-align: center;
	width: 500px;
}

#notice {
 text-align: center;
 margin-top: 85px;
 color: fuchsia;
}

div.input-group{
	flex-direction: column;
	flex-wrap: wrap;
}

form#formSignUp{
	width: fit-content;
	margin: 50px auto;
	border-width: 1px;
	border-style: groove;
	border-color: darkviolet;
	border-radius: 10px;
	padding: 15px;
	background-color: transparent;
	flex-direction: row;
	flex-wrap: wrap;
}

div#asds{
	margin: auto;
}
