header {
	text-align: center;
}

#headerNotice {
	margin-top: 85px;
}

#input_accounts {
	text-align: center;
	position: relative;
	top: 385px;
}

footer {
	text-align: center;
	position: relative;
	top: 450px;
	color: greenyellow;
}

button#btnLogin{
	font-size:large;
	font-weight:bold;
	width:150px;
	/* top:10px; */
}

form#formAccounts{
	background-color: transparent;
	margin: auto;
	margin-top: 24px;
	border-width: 1px;
	border-radius: 10px;
	border-style: groove;
	border-color: blueviolet;
	padding: 15px;
	width: fit-content;
}

div.input-group{
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

#id, #pw{
	text-align: center;
	width: 240px;
}

#lbSaveAccount{
	margin-top: 10px;
}

label#lbID, label#lbPW{
	font-size: 12px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
