<!DOCTYPE HTML>
<html>

  <head>
    <title>게시물 등록</title>
    <link rel="stylesheet" href="./css/boardUpload.css">
  </head>

  <body>
    <header>

    </header>
    <main>
      <div>
        <form id="postForm" method="post">
          <input id="postTitle" name="postTitle" placeholder="제목">
          <br>
          <textarea id="postContent" name="postContent" placeholder="내용"></textarea>
          <br>
          <button id="postUpload" type="submit">등록</button>
        </form>
      </div>
    </main>
    <footer>

    </footer>
  </body>

</html>
