<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./css/community.css">
    <script src="./js/community.js"></script>
    <title>커뮤니티</title>
  </head>

  <body>
    <header>
      <div id="top_header">
        <div id="navigator">
          <button id="#" class="menu">기능구현</button>
          <button id="community" class="menu" onclick="getBoard()">게 시 판</button>
          <button id="chat" class="menu" onclick="getChatApp()">랜덤채팅</button>
        </div>
      </div>
    </header>
    <main>
    </main>
    <footer>

    </footer>

  </body>

</html>
