<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>chatApp</title>
    <link rel="stylesheet" href="./css/test.css">
    <script src="./js/test.js"></script>
    <!-- 소켓 관련 스크립트 -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- jquery 스크립트 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <main>
      <div class="container">
        <!-- Pricing column -->
        <div class="container__column">
          <!-- Title -->
          ...

          <!-- Price -->
          ...

          <!-- Description -->
          ...

          <!-- Button -->
          ...
        </div>

        <!-- Repeated pricing columns -->
        ...
      </div>
    </main>
  </body>

</html>
